body{
    font-family: "Dekko",cursive;
    background-image: url('../img/background3.png');
    background-repeat: repeat;
    background-size:2000px auto;
    background-attachment: fixed;
    color:black
    
}


#app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main{
    display: flex;
    flex-direction: row;
}

#main-left{
    padding-right: 75px;
}

#input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



#main-header{
    margin-top: 75px;
    margin-bottom:75px;
}



.form-container{
    margin-bottom: 50px;
}


.input-form{
    border-radius: 5px;
    width: 300px;
    font-size: large;
  
}


#add-player-btn{
    background-color: white;
    font-family: cursive;
    border-radius: 5px;
    margin-top: 4px;
    cursor: pointer;
}

#add-player-btn:active{
    background-color: green;
}


#players-heading{
    margin-top: 0px;
}

#players-list{
    padding-left:20px;
    margin-top: 10px;
}


#create-btn-container{
    margin-top: 30px;
    margin-bottom: 30px;
}

#create-btn{
    height:75px;
    font-family: cursive;
    font-size: large;
    border-radius: 8px;
    background-color: cadetblue;
    cursor: pointer;

}

#create-btn:active{
    background-color: green;
}